/*
Custom Styles. Bootstrap Styles are default'
*/
* {
}
body {
	font-family: Calibri, sans-serif;
	color: #9e9ba8;
	font-size: 14px;
}
a, input, button {
	-webkit-transition: all ease .2s;
	-moz-transition: all ease .2s;
	-o-transition: all ease .2s;
	transition: all ease .2s;
}
/*Header*/
header {
	background: url('../images/big_line_bg.jpg') no-repeat;
	background-size: 100% 100%;
	width: 100%;
}
header .navbar-default .navbar-brand, header .navbar-default .navbar-brand:hover, header.with-boxed .navbar-default .navbar-brand, header.with-boxed .navbar-default .navbar-brand:hover {
	color: #fff;
	background: #2f302f;
	font-size: 18px;
	text-transform: uppercase;
	padding: 40px 15px 45px 15px;
	margin-top: 0px;
	font-weight: 100;
	font-family: 'Questrial', sans-serif;
}
header .navbar-default .navbar-brand small, header.with-boxed .navbar-default .navbar-brand small {
	color: #fff;
}
header.main__header {
	background: none;
	position: absolute;
	z-index: 100;
	width: 100%;
}
header.with-boxed {
	position: relative;
	background: url('../images/big_line_bg.jpg') no-repeat;
	background-size: 100% 100%;
	width: 100%;
}
.navbar-left { width: 100%; }
.navbar-nav.second { float: right; }
/*Typography*/
a {
	color: #ffa02f;
}
hr {
	border-color: #e5e5e5;
	margin: 10px 0 10px 0;
}
h1 {
	font-size: 36px;
	text-transform: uppercase;
	color: #33313a;
	font-family: 'Questrial', sans-serif;
	font-weight: bold;
}
h2 {
	font-size: 32px;
	color: #33313a;
	font-family: 'Questrial', sans-serif;
}
h2 span {
	color: #ec6c52;
	border-bottom: 1px dotted #ec6c52;
}
h2.block__title {
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	line-height: 3px;
	margin-bottom: 60px;
}
h2.block__title span {
	border: none;
	background-color: #eff2f2;
	padding: 0 30px;
	text-transform: uppercase;
	line-height: 3px;
}
h3 {
	font-size: 27px;
	color: #33313a;
	font-family: 'Questrial', sans-serif;
	font-weight: normal;
}
h3 a {
	color: #33313a;
}
h3 a:hover {
	text-decoration: none;
	color: #ec6c52;
}
.typo {
	margin-top: 80px;
}
h4 {
	font-size: 19px;
	font-family: 'Questrial', sans-serif;
	color: #33313a;
	font-weight: normal;
}
h4 a {
	color: #33313a;
}
h4 a:hover {
	text-decoration: underline;
	color: #ec6c52;
}
h5 {
	font-size: 17px;
	font-family: 'Questrial', sans-serif;
	text-transform: uppercase;
	color: #33313a;
	font-weight: normal;
}
h2.with__margin {
	margin-top: 70px;
	margin-bottom: 0px;
}
h2.with__margin2 {
	margin: 50px 0;
}
/*Container*/
.main__middle__container .row ul, .main__middle__container .row ol {
	padding-left: 20px;
}
.main__middle__container {
	width: 100%;
}
.row {
	padding: 75px 0;
}
.container .row:first-child {
	padding: 45px 0;
}
p.big-paragraph {
	font-size: 18px;
	color: #bcbcbc;
}
/* grey-info-block */
.grey-info-block {
	background: url('../images/big_line_bg.jpg') no-repeat;
	background-size: 100% 100%;
	width: 100%;
	margin: 0;
}
.grey-info-block h2 {
	color: #fff;
}
.grey-info-block p {
	color: #fff;
	font-weight: 100;
	padding-top: 20px;
	font-size: 18px;
}
.grey-info-block .btn, .grey-info-block .btn:hover {
	width: 230px;
	height: 50px;
	margin: 30px 5px;
	line-height: 50px;
	padding: 0;
	font-size: 18px;
	font-weight: 300;
}
.grey-info-block .btn.btn-default {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	border-color: #fff;
}
/* Recent Posts */
.recent-posts h2 {
}
.recent-posts h2 span {
	background: #fff;
}
.recent-posts .col-md-9 .text {
	float: left;
	width: 55%;
	margin-left: 2%;
}
.recent-posts .col-md-9 img {
	width: 43%;
}
.recent-posts .col-md-9 article {
	margin-bottom: 50px;
}
.recent-posts .col-md-4 h3 {
	text-transform: none;
}
.recent-posts .col-md-3 .icon-item {
	background-color: #eff2f2;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 15px 12px 15px 12px;
	margin-bottom: 1px;
}
.recent-posts .col-md-3 .icon-item:after {
	clear: both;
	content: '';
	display: table;
}
.recent-posts .col-md-3 .icon-item p {
	margin: 0;
}
.recent-posts .col-md-3 .icon-item:hover {
	background-color: #e6e9e9;
}
.recent-posts .col-md-3 .icon-item img {
	margin-right: 15px;
}
.recent-posts .col-md-3 .icon-item h4 {
	margin: 0 0 5px 0;
}
/* Forms */
.form-control, .form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.form-control:focus {
	border-color: #ff831f;
}
/*Main Navigaion Menu*/
.dropdown:hover .dropdown-menu {
	display: block;
}
.navbar-default {
	background: none;
	border: none;
	padding: 40px 0 0 0;
	margin-bottom: 0px;
	position: relative;
	z-index: 999;
}
.main__header .navbar-default .navbar-brand, .main__header .navbar-default .navbar-brand:hover {
	color: #fff;
	background: #ec6c52;
	font-size: 18px;
	text-transform: uppercase;
	padding: 40px 15px 45px 15px;
	margin-left: -90px; position: absolute; left: 50%; top: 0px; margin-top: 0px;
	font-weight: 100;
	font-family: 'Questrial', sans-serif;
	text-align: center;
}
.main__header .navbar-default .navbar-brand a {
	color: #FFF;
	text-decoration: none;
	outline: 0px;
}
.navbar-default .navbar-brand span {
	border-bottom: 1px dotted #fff;
	padding-bottom: 5px;
}
.navbar-default .navbar-brand small {
	font-size: 11px;
	position: relative;
	top: 5px;
	color: #444245;
}
.navbar-default .navbar-nav>li {
	padding-bottom: 10px;
	margin: 0 15px;
}
.navbar-default .navbar-nav.second>li:last-child {
	margin-right: 0px;
}
.navbar-default .navbar-nav:first-child>li:first-child {
	margin-left: 0px;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid transparent;
	padding: 15px;
	text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li:hover>a, .navbar-default .navbar-nav>li.active>a, .navbar-default .navbar-nav>li.active>a:hover {
	background: rgba(0,0,0,0.1);
	border-radius: 2px;
	color: #fff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border: 1px solid #eff2f2;
	outline-color: #ec6c52 !important;
}
ul.dropdown-menu {
	padding: 0;
	left: 0px !important;
	background: url('../images/triangle.png') no-repeat 20px top;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	-ms-border-radius: 0px;
	border: none;
	padding-top: 7px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
}
ul.dropdown-menu li {
	border-bottom: 1px solid #dfe2e2;
	background: #eff2f2;
}
ul.dropdown-menu li:last-child {
	border-bottom: none;
	border-radius: 0px 0px 2px 2px;
	-webkit-border-radius: 0px 0px 2px 2px;
	-moz-border-radius: 0px 0px 2px 2px;
	-ms-border-radius: 0px 0px 2px 2px;
	-o-border-radius: 0px 0px 2px 2px;
}
ul.dropdown-menu li:first-child {
	border-radius: 2px 2px 0px 0px;
	-webkit-border-radius: 2px 2px 0px 0px;
	-moz-border-radius: 2px 2px 0px 0px;
	-ms-border-radius: 2px 2px 0px 0px;
	-o-border-radius: 2px 2px 0px 0px;
}
ul.dropdown-menu>li>a {
	color: #535353;
	font-size: 12px;
	padding: 15px 20px;
	text-transform: uppercase;
}
ul.dropdown-menu>li>a:hover {
	color: #ec6d53;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	color: #fff !important;
	outline-color: #ec6c52;
	background-color: transparent;
}
.navbar-default .navbar-nav>.open>a:focus {
	outline-color: #ec6c52;
}
/*Buttons*/
.btn {
	font-family: Arial, Helvetica, sans-serif;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus {
	background-color: #e66a06;
	border-color: #e66a06;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}
.btn-info, .btn-info:hover, .btn-info:focus {
	background-color: #fff;
	border-color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ec6c52;
}
.btn-default, .btn-default:hover, .btn-default:focus {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: none;
	color: #7f7f7f;
	border-color: #d3d3d3;
	background: none;
}
button.btn-primary:focus {
	outline: none;
}
/*Carousel*/
.slider {
	position: relative;
	z-index: 9;
}
.carousel-indicators li {
	width: 9px;
	height: 9px;
	margin: 0;
	border-color: #cbd4d4;
}
.carousel-indicators .active {
	background-color: #ec6d07;
	width: 9px;
	height: 9px;
	border-color: #ec6d07;
}
.carousel .btn {
	width: 100px;
	height: 100px;
	margin: 30px 5px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	line-height: 50px;
	padding: 0;
	background-color: #ec6c52;
	font-size: 18px;
	line-height: 100px;
	font-weight: 300;
}
.carousel-caption {
	top: 300px;
	font-size: 18px;
	font-family: 'Questrial', sans-serif;
	color: #ec6c52;
	text-shadow: 1px 1px 3px #666666;
}
.carousel-caption h1 {
	font-size: 36px;
	line-height: 36px;
	font-family: 'Questrial', sans-serif;
	font-weight: 100;
	color: #fff;
}
.carousel-caption h1 span {
	color: #ec6d07;
}
.carousel-control {
	background: none;
	opacity: 1;
	-moz-opacity: 1;
}
.carousel-control .carousel-control-left {
	background: url('../images/slider/prev.png') no-repeat;
	width: 36px;
	height: 36px;
	top: 400px;
}
.carousel-control .carousel-control-right {
	background: url('../images/slider/next.png') no-repeat;
	width: 36px;
	height: 36px;
	top: 400px;
}
.carousel-control .carousel-control-left:hover {
	background: url('../images/slider/prev_a.png') no-repeat;
}
.carousel-control .carousel-control-right:hover {
	background: url('../images/slider/next_a.png') no-repeat;
}
.boxed .carousel-control .carousel-control-left {
	left: -150px;
	top: 270px;
}
.boxed .carousel-control .carousel-control-right {
	right: -150px;
	top: 270px;
}
.boxed .carousel-caption {
	top: 90px;
}
.boxed .carousel-caption h1 {
	font-size: 40px;
	line-height: 40px;
}
.three-blocks {
	background-color: #eff2f2;
}
/*service-icons*/
.service-icons img {
	float: left;
	margin-top: 20px;
}
.service-icons p {
	padding: 20px 0 10px 0;
	margin-bottom: 0px;
}
.three-blocks p {
	padding: 5px 0;
}
.three-blocks p small {
	position: relative;
	bottom: 5px;
}
.orange {
	color: #ff831f;
	padding: 0 0 10px 0;
}
.black-text {
	color: #34313c;
}
/*Social Icons*/
.socialicon {
	position: relative;
	display: inline-block;
	width: 44px;
	margin-right: 5px;
	height: 44px;
}
.socialicon-twitter {
	background: url('../images/social/twitter.png') no-repeat;
}
.socialicon-facebook {
	background: url('../images/social/facebook.png') no-repeat;
}
.socialicon-google {
	background: url('../images/social/google.png') no-repeat;
}
.socialicon-twitter:hover {
	background: url('../images/social/twitter_a.png') no-repeat;
}
.socialicon-facebook:hover {
	background: url('../images/social/facebook_a.png') no-repeat;
}
.socialicon-google:hover {
	background: url('../images/social/google_a.png') no-repeat;
}
/* Contact Form */
.contact-form {
}
.contact-form .col-md-6 {
	padding: 0 20px 0 0;
}
.contact-form .col-md-6:nth-child(2) {
	padding: 0 0px 0 0;
}
/* Aside */
aside h3 {
	line-height: 11px;
	margin-bottom: 40px;
}
aside img {
	width: 100%;
	margin-bottom: 10px;
}
aside ul li {
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 0;
}
aside ul li:last-child {
	border-bottom: none;
}
aside a.btn {
	margin: 20px 0 40px;
}
/* Main Content*/
.main-content h2 {
	line-height: 11px;
	margin-bottom: 40px;
}
.icons__blocks h3 {
	background: url('../images/icons/icon2.png') no-repeat left center;
	padding: 10px 0px 10px 60px;
	margin-top: 50px;
}
.icons__blocks .col-md-4:nth-child(2) h3 {
	background: url('../images/icons/icon1.png') no-repeat left center;
}
.icons__blocks .col-md-4:last-child h3 {
	background: url('../images/icons/icon3.png') no-repeat left center;
}
.icons__blocks p {
	margin-top: 20px;
}
.navbar-collapse.second {
	padding: 0;
}
/* Footer */
footer {
	background: #2f302f;
	padding: 45px 0 70px;
	color: rgba(255,255,255,0.6);
}
footer h3 {
	color: #fff;
	text-transform: lowercase;
	padding-bottom: 20px;
}
footer hr {
	border-top: 1px solid #47454a;
	margin: 70px 0 0 0;
}
footer p span {
	color: #fff;
}
footer .text-center {
	padding: 40px 0;
	margin: 0;
}
footer .form-group {
	width: 90%;
}
footer button.btn-primary {
	position: relative;
	top: 10px;
}
footer button.btn-primary:focus {
	outline: none;
}
/*Responsive - debugging default problems*/
.img-responsive {
	margin: 0 auto;
}
.no-margin {
	margin: 0;
}
.no_padding {
	padding: 25px 0;
}
#feedback {
	color: #1c6107;
}
#feedback ul {
	padding-left: 0;
}
#feedback ul li {
	list-style: none;
}
 @media(max-width:1600px) {
.carousel-caption h1 {
	font-size: 40px;
	line-height: 40px;
}
.carousel-caption {
	top: 200px;
	left: 8%;
	right: 8%;
}
.carousel-control .carousel-control-left {
	position: absolute;
	top: 50%;
	margin-top: -18px;
	left: 20px;
}
.carousel-control .carousel-control-right {
	position: absolute;
	top: 50%;
	margin-top: -18px;
	right: 20px;
}
.boxed .carousel-control .carousel-control-right {
	right: 20px;
	top: 270px;
}
.boxed .carousel-control .carousel-control-left {
	left: 20px;
	top: 270px;
}
}
@media(max-width:1200px) {
.navbar-nav {
	margin-top: 100px;
}
.navbar-default .navbar-nav>li {
	margin: 0 6px;
}
.navbar-default {
	padding: 0px 0 0 0;
}
.navbar-header {
	float: left;
	position: absolute;
	left: 50%;
	margin-left: 10px;
}
.carousel .btn {
	display: none;
}
.carousel-caption h1 {
	font-size: 40px;
	line-height: 40px;
}
.carousel-caption {
	top: 200px;
	left: 8%;
	right: 8%;
}
}
 @media(max-width:995px) {
.navbar-nav {
	margin-top: 100px;
}
.boxed .carousel-caption {
	top: 30px;
}
.main__header .navbar-default .navbar-brand, .main__header .navbar-default .navbar-brand:hover { margin-left: 0px; }
.navbar-collapse {
	padding: 0;
}
.navbar-default .navbar-nav>li {
	margin: 0 10px;
	font-size: 12px;
}
.navbar-default .navbar-nav>li>a {
	font-size: 12px;
}
.navbar-header {
	float: left;
	position: absolute;
	left: 50%;
	margin-left: -69px;
}
.carousel-control .carousel-control-left {
	position: absolute;
	top: 50%;
	margin-top: 10px;
	left: 20px;
}
.carousel-control .carousel-control-right {
	position: absolute;
	top: 50%;
	margin-top: 10px;
	right: 20px;
}
.carousel .btn {
	display: none;
}
.carousel-caption h1 {
	font-size: 30px;
	line-height: 30px;
}
.carousel-caption {
	top: 200px;
	left: 5%;
	right: 5%;
}
}
 @media(max-width:768px) {
.navbar-left, .second {
	float: none !important;
	width: 100% !important;
	overflow: hidden;
	margin: 0 !important;
}
.navbar-left li, .second li {
	float: none !important;
	width: 100% !important;
	overflow: hidden;
}
.navbar-default ul.navbar-collapse {
	display: none;
	overflow: hidden;
}
.navbar-default ul.navbar-collapse.in {
	display: block;
}
.navbar-default .navbar-collapse {
	border-top: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
}
.navbar-nav.second {
	margin-top: 0px;
}
.navbar-default .navbar-collapse.in {
	height: auto !important;
	display: block !important;
}
.navbar-default .navbar-collapse.navbar-nav>li {
	text-align: center;
	margin: 0;
	font-size: 12px;
}
.navbar-default .navbar-collapse.second {
	float: right;
}
.carousel-caption {
	top: 80px;
}
.navbar-default .navbar-nav .open .dropdown-menu>li {
	display: block;
	width: 100%;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #222;
	display: block;
	width: 100%;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	color: #fff;
	background-color: #222;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	color: #222;
	background-color: transparent;
}
.navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
	padding: 5px 15px 5px 15px;
}
.service-icons {
	text-align: center;
}
.service-icons img {
	float: none;
	margin: 20px auto;
}
.service-icons p, .three-blocks p {
	padding: 20px 0 10px 0;
	margin-bottom: 0px;
}
.service-icons p.orange {
	color: #ff831f;
	padding: 0 0 10px 0;
}
.recent-posts .col-md-9 .text, .recent-posts .col-md-9 img {
	float: left;
	width: 99%;
}
header.with-boxed {
	height: auto;
}
.navbar-header {
	float: none;
	position: absolute;
	left: 50%;
	margin-left: -69px;
	top: 40px;
	z-index: 9999;
}
header.main__header {
	background-color: #000;
	position: relative;
	min-height: 125px;
}
button.navbar-toggle {
	position: relative;
	right: 90px;
	top: 35px;
}
.navbar-nav, .navbar-default .navbar-nav>li {
	margin: 0;
}
.navbar-collapse {
	max-height: 100%;
	margin-top: 140px !important;
}
.navbar-collapse.second {
	margin-top: 0 !important;
}
button.navbar-toggle {
	display: block !important;
	position: relative;
	z-index: 99999;
	width: 44px;
	height: 34px;
}
}
 @media(max-width:710px) {
.boxed .carousel-control {
	display: none;
}
.main__header .navbar-default .navbar-brand, .main__header .navbar-default .navbar-brand:hover { top: -50px !important; left: 20px; }
.carousel-caption {
	top: 40px;
}
.carousel-control .carousel-control-left {
	position: absolute;
	top: 50%;
	margin-top: -18px;
	left: 20px;
}
.carousel-control .carousel-control-right {
	position: absolute;
	top: 50%;
	margin-top: -18px;
	right: 20px;
}
.dropdown:hover .dropdown-menu {
	display: none;
}
.dropdown.open:hover .dropdown-menu {
	display: block;
}
.navbar-default .navbar-nav .open .dropdown-menu>li {
	border: none;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	color: #ff831f;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	color: #ff831f;
	background-color: transparent;
}
.service-icons {
	text-align: center;
}
.service-icons img {
	float: none;
	margin: 20px auto;
}
.service-icons p, .three-blocks p {
	padding: 20px 0 10px 0;
	margin-bottom: 0px;
}
.service-icons p.orange {
	color: #ff831f;
	padding: 0 0 10px 0;
}
.recent-posts .col-md-9 .text, .recent-posts .col-md-9 img {
	float: left;
	width: 99%;
}
header.with-boxed {
	height: auto;
}
.navbar-header {
	float: none;
	position: absolute;
	left: 50%;
	min-height: 125px;
	margin-left: -69px;
	top: 40px;
	z-index: 9999;
}
.navbar-default .navbar-toggle {
	position: absolute;
	top: 40px;
	z-index: 99999;
	left: 45px;
}
}
@media(max-width:600px) {
.carousel-caption {
	display: none;
}
}
.carousel-fade {
 .carousel-inner {
 .item {
 opacity: 0;
 transition-property: opacity;
}
 .active {
 opacity: 1;
}
 .active.left,  .active.right {
 left: 0;
 opacity: 0;
 z-index: 1;
}
 .next.left,  .prev.right {
 opacity: 1;
}
}
.carousel-control {
	z-index: 2;
}
}
.carousel-fade .carousel-inner .item {
	opacity: 0;
	-webkit-transition-property: opacity;
	transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
	opacity: 1;
}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-control {
	z-index: 2;
}
/* Portfolio */
#portfolio {
	padding: 30px 0px 40px 0px;
	overflow: hidden;
}
#portfolio ul.controls {
	padding: 0px 0 20px 2px;
	overflow: hidden;
	margin: 20px 0;
	border-bottom: #EC6C52 solid 2px;
}
#portfolio ul.controls li {
	float: left;
	color: #000;
	font-weight: 400;
	font-size: 15px;
	padding: 5px 15px;
	cursor: pointer;
}
#portfolio ul.controls li:hover, #portfolio ul.controls li.active {
	padding: 4px 15px;
	color: #EC6C52;
	margin: 0 -1px;
	border: 1px solid #EC6C52;
}
#portfolio ul#Grid {
	margin: 0 0 30px 0;
	padding: 0;
	position: relative;
}
#portfolio ul#Grid li {
	padding: 0 1px 1px 0;
	margin: 0;
	display: none;
	position: relative;
}
#portfolio ul#Grid li a {
	display: block;
	position: relative;
	color: #fff;
}
#portfolio ul#Grid li span.overlay {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: hidden;
	text-indent: -9999px;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	background: #000;
}
#portfolio ul#Grid li:hover span.overlay {
	visibility: visible;
	opacity: 0.2;
	filter: alpha(opacity=20);
}
#portfolio ul#Grid span.text {
	padding: 0px 10px;
	height: 0;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	z-index: 10;
	overflow: hidden;
	font-size: 22px;
	font-weight: 400;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	color: #FFF;
	line-height: 30px;
	background: #EC6C52;
}
#portfolio ul#Grid li:hover span.text {
	background: #EC6C52;
	opacity: 0.9;
}
#portfolio ul#Grid span.text span {
	color: #f9f9f9;
	font-weight: 400;
	display: block;
	font-size: 14px;
	text-transform: none;
	line-height: 22px;
}
#portfolio ul#Grid span.text:after {
	border-color: rgba(63, 141, 191, 0);
	border-bottom-color: #EC6C52;
	border-width: 10px;
	margin-left: -10px;
}
#portfolio ul#Grid span.text:before {
	border-color: rgba(63, 141, 191, 0);
	border-bottom-color: #EC6C52;
	border-width: 16px;
	margin-left: -16px;
}
#portfolio ul#Grid li:hover span.text {
	padding: 10px 10px;
	height: auto;
	overflow: visible;
	text-decoration: none;
}
/* ## REST CSS */
ul.dropdown-menu {
	display: block;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
	top: 85%;
	opacity: 0;
	visibility: hidden;
}
.dropdown:hover .dropdown-menu {
	top: 100%;
	opacity: 1;
	visibility: visible;
}
 @media(max-width:767px) {
header .navbar-default .navbar-brand, header .navbar-default .navbar-brand:hover, header.with-boxed .navbar-default .navbar-brand, header.with-boxed .navbar-default .navbar-brand:hover {
	padding: 30px 15px 55px 15px;
}
.main__header .navbar-default .navbar-brand, .main__header .navbar-default .navbar-brand:hover {
	padding: 30px 15px 55px 15px;
}
.navbar-default .navbar-toggle {
	border-color: #FFF;
}
.navbar-default .navbar-toggle .icon-bar {
	background: #FFF;
}
.navbar-default .navbar-nav > li > a {
	color: #FFF;
}
.navbar-default ul.navbar-collapse {
	display: block !important;
	height: 0px;
}
ul.dropdown-menu {
	visibility: visible;
	opacity: 1;
	display: none;
}
.open .dropdown-menu {
	display: block;
	visibility: visible;
	opacity: 1;
}
.slider {
	overflow: hidden;
	max-width: 100%;
}
.main__middle__container {
	overflow: hidden;
	max-width: 100%;
}
footer {
	overflow: hidden;
	max-width: 100%;
}
.row {
	padding: 45px 0;
}
h1 {
	font-size: 24px;
	line-height: normal;
}
h2 {
	font-size: 22px;
	line-height: normal;
}
h3 {
	font-size: 20px;
	line-height: normal;
}
.pull-left {
	float: none !important;
}
.pull-right {
	float: none !important;
}
.icon-item .pull-left {
	float: left !important;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #545454;
}
#portfolio ul#Grid a.link span {
	font-size: 11px;
	line-height: 15px;
}
#portfolio ul.controls li {
	padding: 5px 10px;
}
}
 @media(min-width:768px) and (max-width: 991px) {
.carousel .btn {
	display: none;
}
.carousel-caption {
	top: 10%;
}
h2 {
	font-size: 30px;
}
h2.text-center {
	padding: 0 10px;
}
.row {
	padding: 35px 0;
}
#portfolio ul#Grid a.link {
	font-size: 18px;
}
#portfolio ul#Grid a.link span {
	font-size: 11px;
	line-height: 15px;
}
.carousel-caption {
	top: 45%;
}
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	min-width: 100%;
	height: auto;
}
/* Columns */
.one_half_pad {
	width: 44%
}
.one_third_pad {
	width: 27%
}
.one_fourth_pad {
	width: 19%
}
.one_fifth_pad {
	width: 14%
}
.one_sixth_pad {
	width: 10.5%
}
.two_fifth_pad {
	width: 37%
}
.two_third_pad {
	width: 60%
}
.two_fourth_pad {
	width: 43%
}
.two_fifth_pad {
	width: 33%
}
.three_fifth_pad {
	width: 58.4%
}
.three_fourth_pad {
	width: 74%
}
.four_fifth_pad {
	width: 67.2%
}
.five_sixth_pad {
	width: 82.67%
}
.one_half_pad, .one_third_pad, .two_third_pad, .three_fourth_pad, .one_fourth_pad, .one_fifth_pad, .two_fifth_pad, .two_fourth_pad, .two_fifth_pad, .three_fifth_pad, .four_fifth_pad, .one_sixth_pad, .five_sixth_pad {
	float: left;
	margin-bottom: 20px;
	margin-left: 3%;
	margin-right: 3%;
	position: relative
}
.one_half {
	width: 48%
}
.one_third {
	width: 30.5%
}
.one_fourth {
	width: 22%
}
.one_fifth {
	width: 16.8%
}
.one_sixth {
	width: 13.33%
}
.two_fifth {
	width: 37.6%
}
.two_third {
	width: 65.33%
}
.two_fourth {
	width: 48%
}
.three_fifth {
	width: 58.4%
}
.three_fourth {
	width: 74%
}
.four_fifth {
	width: 67.2%
}
.five_sixth {
	width: 82.67%
}
.one_half, .one_third, .two_third, .two_fourth, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
	float: left;
	margin-bottom: 10px;
	margin-right: 4%;
	position: relative
}
.column-last {
	clear: right;
	margin-right: 0!important
}
.dc_tabs_type_2 .one_third {
	width: 29%
}
.clr {
	clear: both;
	margin: 0;
	padding: 0;
	width: 100%
}
.dc_clear {
	clear: both;
	font-size: 0px;
	line-height: 0px;
	margin: 0;
	padding: 0;
	width: 100%
}
