{% load staticfiles %}
<html>
    <head>
        <title>ABOUT CRICKET</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <style>
    .para{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:black;
        font-size: 17px;
    }
    </style>
    
    
    
    </head>
    <body style="background-image: url({% static 'images/ball11.jpg' %});background-repeat: no-repeat;background-size: cover">
        <div class='container-fluid'>
            <div class='row'>
                <div class='col-md-6  p-0'>
                        
                 <h1 class=' div1 fa ml-2 text-white mt-5 mx-4' style="font-size:60px"><u><i>LIVE CRICKET</i></u><div id="div1" class="fa ml-2" style="font-size:60px"></div></h1>

                </div>
            </div>
            <div class='row'>
                <div class='col-md-6 m-5'>
                        <i> <h2 class='text-left text-light'>EARLY CRICKET</h2></i>
                        <p class='para'>Cricket was probably created during Saxon or Norman times by children living in the Weald, an area of dense woodlands and clearings in south-east England that lies across Kent and Sussex.[1] The first definite reference is dated Monday, 17 January 1597 ("Old Style" Julian date, the year equating to 1598 in the modern calendar).

                            There have been several speculations about the game's origins including some that it was created in France or Flanders. The earliest of these speculative references is dated Thursday, 10 March 1300 and concerns the future King Edward II playing at "creag and other games" in both Westminster and Newenden. It has been suggested that "creag" was an Olde English word for cricket but expert opinion is that it was an early spelling of "craic", meaning "fun and games in general".[2]
                    
                            It is generally believed that cricket survived as a children's game for many generations before it was increasingly taken up by adults around the beginning of the 17th century. Possibly cricket was derived from bowls, assuming bowls is the older sport, by the intervention of a batsman trying to stop the ball from reaching its target by hitting it away. Playing on sheep-grazed land or in clearings, the original implements may have been a matted lump of sheep’s wool (or even a stone or a small lump of wood) as the ball; a stick or a crook or another farm tool as the bat; and a stool or a tree stump or a gate (e.g., a wicket gate) as the wicket.
                    
                    </p>
                </div>
                <div class='col-md-4 pt-4 mt-5' >
                    <img src="{% static 'images/hiscr4.jpg' %}" width="100%" height="60%" style="border:5px solid black"></div>
                   <div class='col-md-11 mx-auto para'><p>Cricket is a bat-and-ball game played between two teams of eleven players on a field at the centre of which is a 20-metre (22-yard) pitch with a wicket at each end, each comprising two bails balanced on three stumps. The batting side scores runs by striking the ball bowled at the wicket with the bat, while the bowling and fielding side tries to prevent this and dismiss each player (so they are "out"). Means of dismissal include being bowled, when the ball hits the stumps and dislodges the bails, and by the fielding side catching the ball after it is hit by the bat, but before it hits the ground. When ten players have been dismissed, the innings ends and the teams swap roles. The game is adjudicated by two umpires, aided by a third umpire and match referee in international matches. They communicate with two off-field scorers who record the match's statistical information.</p>
                
                </div>
            </div>
        </div>
        <div class='container'>
            <div class='row'>
                <div class='col-md-12'>
                    <img src="{% static 'images/home3.jpg' %}" width="100%" height="60%" style="border:5px solid black"> 
                </div>
            </div>
        </div>
            <div class='container-fluid'>
                <div class='row'>

                    <div class='col-md-12'>
                       <i><h2 class='text-white mt-5 ml-3'> CRICKET NOW A DAYS</h2></i> 
                    <p class='para'> It is one of the healthiest of sports. All the parts and muscles of the body are fully moved and exercised while playing cricket. It teaches the players to cultivate the virtue of cooperation, patience and perseverance and while making the players sharp and prompt. It helps to give them a healthy recreation.</p>
                    </div>
                </div>
            </div>
            
    
        
        <script>
                        function smile() {
                          var a;
                          a = document.getElementById("div1");
                          a.innerHTML = "&#xf118;";
                          setTimeout(function () {
                              a.innerHTML = "&#xf5b8;";
                            }, 1000);
                          setTimeout(function () {
                              a.innerHTML = "&#xf585;";
                            }, 2000);
                          setTimeout(function () {
                              a.innerHTML = "&#xf587;";
                            }, 3000);
                        }
                        smile();
                        setInterval(smile, 4000);
                        </script>
        </script>
    </body>
</html>