{% load staticfiles %}

<html>
    <head>
        <title>LIVE CRICKET HOME PAGE</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
        <style>
        .carousel-inner img {
      width: 100%;
      height: 100%;
  }
  .cont {
  position: relative; 
  max-width: 800px; 
  margin: 0 auto;
}
 .content {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 100%; 
  padding: 20px; 
  height:150px;
  font-size:25px;
  font-style: italic;
}
a:hover{
    background-color: #f1f1f1;
    color:black;

}
.crkt{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:white;
    font-size:25px;
    
}
.crkt::first-letter{
    font-size:50px;
    color:crimson;
    font-style: italic;

}
  </style>
    </head>
    <body>
            <div class='container-fluid'>
               <div class='row'>
                        <div class='col-md-12 text-center bg-dark text-white'>
                           <h4>AUTO   <div id="div1" class="fa"></div>
                               
                           </h4>
                           
                            
                        </div>
                    </div>
                    <div class='row'>
                            <div class='col-md-12 bg-danger mx-0 p-0'>
                                <nav class='navbar-nav  navbar-expand   text-center' style="background-color:rgb(0,0,0,0.5)">
                                        <div id="div1" class="fa ml-2" style="font-size:40px"></div>
                                        <ul class='navbar-nav text-dark mx-auto'>
                                            <li class='nav-item p-5'>
                                                    <a href="" class='nav-link'>ABOUT</a>
                                                </li>
                                                <li class='nav-item p-5'>
                                                    <a href="" class='nav-link'>LIVE SCROES</a>
               -                                     
                                                </li>
                                               
                                             <i><h2 style="color:white">LIVE<br/>CRICKET</h2></i>
                                                <li class='nav-item p-5'>
                                                    <a href="" class='nav-link'>FIXTURES</a>
                        
                                                </li>
                                                <li class='nav-item p-5'>
                                                    <a href="" class='nav-link'>BOOKING</a>
                                                </li>
                                                <li class='nav-item p-5'>
                                                        <a href="" class='nav-link'></a>
                                                </li>
                                                </ul>
                                   
                                </nav>
                            </div>
                        </div>
                <!--</div> -->       
                
                <!--<div class='container-fluid'>-->
                    <div class='row'>
                        <div class='col-md-12 p-0'>
        
                        
                            <div id="demo" class='carousel slide' data-ride='carousel'>
                                <ul class='carousel-indicators'>
                                    <li data-target="#demo" data-slide-to="0" class='active'></li>
                                    <li data-target="#demo" data-slide-to="1" ></li>
                                    <li data-target="#demo" data-slide-to="2" ></li>
                                </ul>
                    
                            
                                    <div class='carousel-inner'>
                                        <div class='carousel-item active'>
                                            <img  src="{% static 'images/home1.jpg' %}">
                                            <div class='content'>
                                                <p>Cricket is a team game. If you want fame for yourself, go play an individual game</p>
                                            </div>
                                        </div>
                    
                                         <div class='carousel-item'>
                                            <img src="{% static 'images/home2.jpg'%}" >
                                            <div class='content'>
                                                <p>Cricket is basically baseball on valium  </p>
                                            </div>
                                        </div>
                    
                                        <div class='carousel-item'>
                                            <img src="{% static 'images/home7.jpg' %}" >
                                            <div class='content'>
                                                    <p>The Test cricket we've played over the last few weeks has been of a very high standard </p>
                                                </div>
                                        </div>
                                        <div class='carousel-item'>
                                             <img src="{% static 'images/home6.jpg' %}" >
                                             <div class='content'>
                                                    <p>Cricket to us was more than play, It was a worship in the summer sun  </p>
                                                </div>
                                        </div>
                                        <div class='carousel-item'>
                                            <img src="{% static 'images/home5.jpg' %}">
                                            <div class='content'>
                                                    <p>Cricket is about a lot more than playing by the rules, Mistry. 
                                                        It’s a gentleman’s game. Don’t you ever forget that </p>
                                                </div>
                                        </div>
                    
                                <a class='carousel-control-prev' href="#demo" data-slide="prev">
                                    <span class='carousel-control-prev-icon'>
                    
                                    </span>
                                </a>
                    
                                <a class='carousel-control-next' href="#demo" data-slide="next">
                                    <span class='carousel-control-next-icon'></span>
                                </a>
                    
                            
                            </div>
                        </div>
                    </div>
                    <div class='container-fluid'>
                        <div class='row'>
                            <div class='col-md-12 my-3 p-2  text-center' style="background-image: url({% static 'images/bat1.jpg' %}); width:100%;height:30%;background-size:cover;background-repeat: no-repeat;">
                                <p class='crkt'>Cricket is a team sport with billions of fans all over the world<br/>
                                      <br/>The  craziest cricket nation on the
                                       planet is India with as much as over.<i><b><u>1 billion cricket fans</u></b></i> eager to 
                                       watch a live cricket match. </p>
                            </div>
                        </div>
                    <div class='container'>
                            <div class='row'>
                                    
                                    <div class='col-md-5 ml-5' style="background-image:url({% static 'images/pic1.jpg' %});width:100%;height:auto;background-repeat:no-repeat">
                                  <h4>WHAT IS CRICKET.....</h4></br>
                                  <p><b><i>Cricket</i></b> is a sport which is played between two teams of eleven players each who score runs (points) by running between two sets of three small, wooden posts called wickets. Each of the wickets is at one end of a rectangle of flattened grass called the pitch.
                                    Want to learn more about cricket? click on click below.....   
                                  </p>
                                  <a class='btn btn-danger btn-block my-4' rel="stylesheet" href="{% url 'about' %}" target="blank">LEARN MORE</a>
                                  
                                </div>
                                <div class='col-md-5 ml-5' style="background-image:url({% static 'images/pic2.jpg' %}) ;width:100%;height:auto;background-repeat:no-repeat">
                                
                                <p class='p-5'>live cricket is a website which shows the real time environment of cricket.
                                    it provides a platform to cricket lover to become member and play cricket 
                                    without any barrier. To find out more about<b> <i>LIVE CRICKET</i></b> click below....
                                     </p>
                                     <a class='btn btn-danger btn-block my-4' rel="stylesheet" href="{% url 'aboutweb' %}" target="blank">LEARN MORE</a>
                                </div>

                            </div>  
                            <div class='container-fluid'>
                                <div class='row'>
                                    <div class='col-md-6'>
                                        
                                    </div>
                                </div>
                            </div>

                
                    <script>
                        function smile() {
                          var a;
                          a = document.getElementById("div1");
                          a.innerHTML = "&#xf118;";
                          setTimeout(function () {
                              a.innerHTML = "&#xf5b8;";
                            }, 1000);
                          setTimeout(function () {
                              a.innerHTML = "&#xf585;";
                            }, 2000);
                          setTimeout(function () {
                              a.innerHTML = "&#xf587;";
                            }, 3000);
                        }
                        smile();
                        setInterval(smile, 4000);
                        </script>

                    
    </body>
</html>