<html>
    <head>
        <title>Sign up</title>
        
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <style>
    .modal-header{
        text-align: center;
        


    }
    </style>
    
    </head>
    
    <body style="background-image: url({% static 'images/ball14.jpg' %});background-repeat: no-repeat;background-size: cover">
        <div class='container my-5'>
            
            <div class='row'>
                    <div class='col-md-3'>
                            <marquee scrollamount="20" direction="up"> 
                                                           
                                        <img src="{% static 'images/ball2.jpg %}" height="200px" width="300px">
                                        <img src="{% static 'images/ball6.jpg %}"  height="200px" width="300px">
                                        <img src="{% static 'images/ball7.jpg %}" height="200px" width="300px">
                                        <img src="{% static 'images/ball3.jpg %}" height="200px" width="300px">
                                        
                            </marquee>
                        
                    </div>
                                <div class='col-md-6 mx-auto bg-white' id='sign' style="border:5px ridge black;"">
                                            
                                        <img src="{% static 'images/c1.jpg %}" height="200px" width="200px" align="right">
                                        <h2 class='text-left py-4'>Player Registration form</h2>
                                        <h4 class='py-2'>Please fill the form to Play:</h4>
                                        <div class='form-group'>
                                            *<label for="fname">First Name:</label>
                                            <input type="text" class='form-control mt-2' placeholder="Enter first name.." required> 
                                            </div>
                                            <div class='form-group'>
                                            <label for="lname">Last Name:</label>
                                            <input type="text" class='form-control' placeholder="Enter last name.." >
                                            </div>
                                            <div class="form-group">
                                            *<label for="Address">Address:</label>
                                            <input type="text" class="form-control" placeholder="Enter address.." id="address" required>
                                            </div>

                                            <div class="form-group">
                                                *<label for="contact">Contact:</label>
                                                <input type="number" class="form-control" placeholder="Enter contact.." id="contact" required>
                                                </div>
                                            
                                            <div class="form-group">
                                            *<label for="email">Email address:</label>
                                            <input type="email" class="form-control" placeholder="Enter email.." id="email" required>
                                             </div>
                                             <div class="form-group">
                                                    *<label for="pwd">Password:</label>
                                                        <input type="password" class="form-control" id="pwd" placeholder="password.." required>                            </div>
                                                    
                                                <div class="form-group">
                                                    *<label for="cpwd">Confirm Password:</label>
                                                    <input type="password" class="form-control" id="pwd" placeholder="Confirm password.." required>
                                                </div>
                                                <button type="submit" class="btn btn-block bg-dark text-light mt-3 mb-2">SIGN UP</button>
                                                <div class='text-center'>
                                                    <span class='text-dark'>Already have an account?</span><a href=""  class='text-dark' data-toggle="modal" data-target="#mymodal">Login</a>                                                         
                                                    
                                                </div>
                                    </div>
                                            
                                                <div class='col-md-3'>
                                                        <marquee scrollamount="20" direction="up"> 
                                                             <img src="images/ball2.jpg" height="200px" width="293px">
                                                                    <img src="{% static 'images/ball6.jpg %}" height="200px" width="293px">
                                                                    <img src="{% static 'images/ball7.jpg %}"  height="200px" width="293px">
                                                                    <img src="{% static 'images/ball3.jpg %}" height="200px" width="293px">
                                                                    <!--<img src="images/batball.jpg" height="200px" width="293px">-->
                                                                </marquee>          
                                                </div>
                          
                </div>                           
                                   
            </div>
                
                   <div class='modal col-md-6  text-center m-5' id='mymodal' role='dialoge'>
                        <div class='modal-dialoge'>
                            <div class='modal-content'>

                                 <div class='modal-header'style="background-color:#1affc6" >
                                    <div class='modal-title'>
                                        <h2>LOGIN HERE</h2></div>
                                        <button type="button" class='btn-block col-md-1 btn-danger' data-dismiss='modal'>close</button>

                                    </div>
                                    
                                        
                        
                                        <div class='modal-body' style="font-size:20px">
                                            <form action="" >
                                        <div class='form-group'>
                                         <span><i class="fas fa-user"></i></span>
                                        <input type="text" placeholder="Enter username"> 
                                        </div>

                                         <div class='form-group'>
                                        <span><i class="fas fa-unlock"></i></span>
                                        <input type="password" placeholder="Enter password"> 
                                         </div>
                                         <button type="submit" class="btn btn-block bg-success text-light mt-3 mb-2">SIGN UP</button>
                                        </form>

                                        </div>
                                        <div class='modal-footer' style="background-color: #1affc6">
                                        
                                        <p>not a memeber?<a href="signup2.html">sign up</a></p>
                                        <p>forget password?<a href="">click here</a></p>
                                       
                                        </div>
                                    </div>
                                
                            </div>
                        </div>   
                         
         </div>   
         <script>
         $(function()
         {
            $('#sign').slideDown(2000);
            $('#sign').show(2000);


         })   
          </script>


    </body>



</html>